body {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background: hsla(0, 5%, 5%, 1);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
      background-image: -moz-linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
}

.main-view {
position: absolute;
width: 100%;
height: 100%;
}

.liquid-lights {
position: absolute;
width: 100%;
height: 100%;

}

.black-mask {
position: absolute;
width: 100%;
height: 100%;
background-image: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.0));
}


@keyframes beating {
    from {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1.0;
    }
    50% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0.5;
    }
    to {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1.0;
    }
}

.svg-canvas {
position: absolute;
width: 50%;
height: 50%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.heart-shape {
position: absolute;
width: 100%;
height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

animation-name: beating;
animation-duration: 2.0s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
}

.heart {
  fill: #ac040c;
}

