body {
    background-color: #333333;
}

@keyframes flashing {
    from {
    opacity: 1.0;
    }
    50% {
    opacity: 0.0;
    }
    to {
    opacity: 1.0;
    }
}

.canvas {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

animation-name: flashing;
animation-duration: 2.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
}

.heart {
  fill: #ac040c;
}

